html{
    box-sizing: border-box;

}
body{
    margin: 0%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: beige;
    background: linear-gradient(to right,blue,#2c5364, black);

}
.calculator{
    background: whitesmoke;
    width: 400px;
    border-radius: 0,5px 30px -5px black;
    box-shadow: 0 5px 0 0 rgb(0, 0, 0);

}.calculator-display{
    background: black;
    color: white;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}

.calculator-display h1{
    margin: 0%;
    padding: 20px;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    overflow: auto;
}
::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-track{
    background: white;

}
::-webkit-scrollbar-thumb{
    background: grey;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.calculator-buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, auto); 
    padding: 10px;
}

.calculator-buttons button {
    background-color: #f3f3f3; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 24px; 
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator-buttons button:hover {
    background-color: #e0e0e0; 
}
button {
    min-height: 50px;
    font-size: 20px;
    font-weight: 600; 
    border: none;
    background: rgb(20, 200, 200);
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.3s, transform 0.3s;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    transform: translateY(1px);
}

button:focus {
    outline: none;
}

.operator {
    background: grey;
    font-size: 30px;
}

.clear {
    background: rgb(255, 40, 40);
    color: red;
}

.clear:hover {
    filter: brightness(50%);
}

.equal-sign {
    grid-column: -2;
    grid-row: 2 / span 4;
    background: rgb(13, 206, 87); 
    color: limegreen;
}



@media screen and (max-width: 600px) {
    .calculator {
        width: 95%;
    }
}

















 footer{
text-align: center;
margin-top: 20px;
clear: both; 
display: block;
color: black;
 }
























